@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #001524;
  --foreground: #ffffff;
  --muted: #666666;
  --muted-foreground: #999999;
  --border: #333333;
  --card: #001a2c;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

